In [2]:
pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5975 sha256=31281692b3393872d629a7db6aa402a6fd2c7be217855773643c8d2bcb7dd6e1
  Stored in directory: c:\users\gareg\appdata\local\pip\cache\wheels\77\3d\a6\d317a6fb32be58a602b1e8c6b5d6f31f79322da554cad2a5ea
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
# import pandas
import pandas as pd  

# from apyori import apriori
from apyori import apriori

In [4]:
# load data 
movie_data = pd.read_csv('https://raw.githubusercontent.com/pirandello/apriori/master/movie_dataset.csv', 
                         header = None)

* explore the dataset

In [5]:
movie_data.shape

(7501, 20)

In [6]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [7]:
movie_data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,5747,4389,3345,2529,1864,1369,981,654,395,256,154,87,47,25,8,4,4,3,1
unique,115,117,115,114,110,106,102,97,88,80,66,50,43,28,19,8,3,3,3,1
top,Ninja Turtles,Ninja Turtles,Ninja Turtles,Ninja Turtles,John Wick,Hotel Transylvania,John Wick,John Wick,John Wick,John Wick,Mad Max,John Wick,John Wick,John Wick,Mamma Mia,The Good Dunosaur Bad Moms,Inside Out,Ted,Valerian,Spiderman 3
freq,577,484,375,201,153,107,96,67,57,31,22,15,8,4,3,1,2,2,1,1

* transform dataframe to list of lists (suitable format for apyori)

In [9]:
num_records=len(movie_data)
num_records

7501

In [10]:
records=[]
for i in range(0,num_records):
    records.append([str(movie_data.values[i,j]) for j in range (0,20)])

* instantiate apriori and set the input params based on following constraints:
    * we want only movies that are purchased at least 40 times
    * the minimum confidence for the rules is 20%
    * the minumum lift is 3

In [23]:
# The support for those items can be calculated as 40/7500 = 0.0053. min_support=0.0053
# min_confidence=0.2
# min_lift=3
assosiation_rules=apriori(records,min_support=0.0053,min_confidence=0.2,min_lift=3,min_lenght=2)
assosiation_results=list(assosiation_rules)

* how many association rules did we obtained ?

In [27]:
len(assosiation_results)

32

* print the first association rule

In [30]:
print(assosiation_results[0])

RelationRecord(items=frozenset({'Red Sparrow', 'Green Lantern'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Red Sparrow'}), items_add=frozenset({'Green Lantern'}), confidence=0.3006993006993007, lift=3.790832696715049)])

* convert association rules to DataFrame 
    * use these columns: title_1, title_2, support, confidence, lift